.FailedGrid {
    display: grid;
    grid-template-rows: 60px repeat(4, 100px);
    grid-template-columns: repeat(11, 100px);
    margin: 20px;
}

.FailedItems {
    padding: 15px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    margin: 1.5px;
}

.FailedItem1 {
    background-color: rgb(56, 54, 54);
    grid-column: 2/5;
}

.FailedItem2 {
    background-color: white;
    color: #000000;
    grid-column: 5/9;
}

.FailedItem3 {
    background-color: white;
    color: #000000;
    grid-column: 9/11;
    grid-row: 1/6;
    padding-top: 65px;
}

.FailedItem3>div {
    padding-top: 35px;
    padding-bottom: 35px;
}

.FailedItem4 {
    background-color: rgb(56, 54, 54);
    grid-column: 2/9;
    grid-row: 2/6;
}