.SucceededGrid {
    display: grid;
    grid-template-rows: 60px repeat(4, 100px) 60px;
    grid-template-columns: repeat(11, 100px);
    margin: 20px;
}

.SucceededItems {
    padding: 15px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    margin: 1.5px;
}

.SucceededItem1 {
    background-color: rgb(56, 54, 54);
    grid-column: 2/5;
}

.SucceededItem2 {
    background-color: white;
    color: #000000;
    grid-column: 5/9;
}

.SucceededItem3 {
    background-color: white;
    color: #000000;
    grid-column: 9/11;
    grid-row: 1/7;
    padding-top: 80px;
}

.SucceededItem3>div {
    padding-top: 35px;
    padding-bottom: 35px;
}

.SucceededItem4 {
    background-color: rgb(56, 54, 54);
    grid-column: 2/9;
    grid-row: 2/6;
}

.SucceededItem5 {
    background-color: #ee811a;
    grid-column: 2/9;
}