/* .waviy {
  position: relative;
}

.waviy span {
  display: inline-block;
  position: relative;
  animation: flip 2s 1;
  animation-delay: calc(.2s * var(--i));
}

@keyframes flip {

  0%,
  80% {
    transform: rotateY(360deg)
  }
} */

.bounce {
  /* font-size: 5rem;
  width: 100%; */
  /* margin: 3rem auto; */
  display: inline-block;
  justify-content: center;
  -webkit-box-reflect: below -20px linear-gradient(transparent, #211e1e2e);
}

.bounce span {
  display: inline-block;
  /* color: #c7f4ff; */
  /* font-family: "Play", sans-serif; */
  animation: bounce 1s 1;
  animation-delay: calc(.03s * var(--i));
}

@keyframes bounce {

  0%,
  50%,
  100% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-20px);
  }
}

/* .ten span:nth-of-type(1) {
  animation-delay: 0.1s;
}

.ten span:nth-of-type(2) {
  animation-delay: 0.2s;
}

.ten span:nth-of-type(3) {
  animation-delay: 0.3s;
}

.ten span:nth-of-type(4) {
  animation-delay: 0.4s;
}

.ten span:nth-of-type(5) {
  animation-delay: 0.5s;
}

.ten span:nth-of-type(6) {
  animation-delay: 0.6s;
} */

.hero .header-cta2 {
  border: 2px solid #EE811A;
  border-radius: 10px;
  background: transparent;
  padding: 8px 20px;
  /* margin: 10px; */

}

.hero .header-cta3 {
  border: none;
  background: transparent;
}